.tooltip {
    font-size: 15pt;
    position: absolute;
    text-align: center;
    padding: 0.5rem;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    background-color: white;
  }

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}
.look-nice { 
	max-width: 500px; 
	margin: 0 auto !important; 
	float: none !important; 
  text-align: center;
}

.column {
float: left;
width: 25%;
}

.row::after {
content: "";
clear: both;
display: table;
}

.body {
  background-color: #000000;
  color: #ffffff;
}